<div class="btn-group-wrap">
  <h3>새 메모 작성</h3>
  <hr class="hr5">
  <textarea class="form-control"></textarea>
  <hr>
  <div class="btn-group">
    <span class="btn btn-success" (click)="write()">등록</span>
    <span class="btn btn-default" (click)="goBack()">목록으로</span>
  </div>
</div>
