<div class="btn-group-wrap">
  <h3>메모 상세보기</h3>
  <hr class="hr5">
  <textarea class="form-control" [ngModel]="memo.contents" disabled="disabled"></textarea>
  <hr>
  <div class="btn-group">
    <span class="btn btn-default" (click)="goBack()">목록으로</span>
  </div>
</div>
