<div *ngIf="flag === 'list'">
  <span class="btn btn-success form-control" (click)="flagChange('write')">새 메모 작성</span>
  <hr class="hr5">
  <table class="table table-bordered table-hover">
    <thead>
      <tr>
        <th class="num">번호</th>
        <th class="content">내용</th>
        <th class="management">관리</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let memo of memoList">
        <td>{{memo.id}}</td>
        <td class="content"><a (click)="viewDetail(memo)">{{memo.contents}}</a></td>
        <td>
          <span class="btn btn-xs btn-warning">수정</span>
          <span class="btn btn-xs btn-danger">삭제</span>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<memo-write *ngIf="flag === 'write'"></memo-write>
<memo-modify [memo]="curSelMemo" [(flag)]="flag" *ngIf="flag === 'modify'"></memo-modify>
<memo-detail [memo]="curSelMemo" [(flag)]="flag" *ngIf="flag === 'detail'"></memo-detail>
<!--<memo-modify [(memo)]="curSelMemo"></memo-modify>-->
