<div class="btn-group-wrap">
  <h3>메모 수정</h3>
  <hr class="hr5">
  <textarea class="form-control"></textarea>
  <input type="hidden">
  <hr>
  <div class="btn-group">
    <span class="btn btn-info">수정</span>
    <span class="btn btn-default" (click)="goBack()">목록으로</span>
  </div>
</div>
